.different_quotes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px 10px;
    top:0;
    left: 0;
}

.all_quotes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.name_quotes{ 
    text-align: center;
    color: white;
    font-size: 5vh;
    font-family: Cinzel;
}
