.different_quotes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.all_quotes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.name_quotes{ 
    text-align: center;
    color: white;
    font-size: 5vh;
    font-family: Cinzel;
}
