.game_menu{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    width: 100%;
}

.game_button{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 4vh;
    margin-bottom: 8vh;
    height: 55vh;
}

.btn_answ{
    padding: 10px 15px;
    font-size: 25px;
    margin-top: 0px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-family: Cinzel;
    width: 20%;
}

.check_answ{
    padding: 10px 15px;
    font-size: 25px;
    margin-bottom: 3vh;
    margin-top: 0px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-family: Cinzel;
    width: 20%;
}

.check_unAnsw{
    padding: 10px 15px;
    font-size: 25px;
    margin-bottom: 3vh;
    margin-top: 0px;
    border-radius: 12px;
    border: none;
    font-family: Cinzel;
    width: 20%;
}

.btn_nextQuest{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

.count_questions{
    color: white;
    display: flex;
    justify-content: end;
    margin-top: 0;
    font-size: 20px;
    justify-content: space-between;
    margin-left: 2vw;
    margin-right: 2vw;
}